body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.all_leaves {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* Horizontal line between rows */
}

th {
  background-color: #ffffff;
}

/* Remove vertical lines (borders) */
.all_leaves,
th,
td {
  border-left: none;
  border-right: none;
}

/* Wrapper for horizontal scrolling */
.all_leaves_main_div {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Ensure that the table does not overflow */
.all_leaves {
  width: 100%;
  min-width: 600px;
  /* Minimum width of the table to ensure horizontal scrolling */
}

.all_leaves_thead {
  color: #333843;
  font-size: 15px;
  font-weight: 500;
}

.all_leaves_tbody {
  color: #333843;
  font-size: 15px;
  font-weight: 900;

}
.all_leaves_table_head{
  font-weight: 500;
}

/* ********************** */

.all_leaves_b_a_p_c_main_div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.all_leaves_b_a_p_c_text {
  background: #ffffff00;
  border: 1px solid #66708525;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  /* Adjust font size for large screens */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #3965FF;
  font-weight: 700;
}

.all_leaves_b_a_p_c_number {
  color: #333843;
  font-size: 18px;
  /* Adjust font size for large screens */
  font-weight: 200;
}
.all_leaves_main_parent_div{
  margin-top: 20px;
}
.all_leaves_main_parent_div{
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
}