  .time_off_parent_div {
      background-color: rgb(255, 255, 255);
      margin-top: 20px;
      border-radius: 8px;
  }

  .time_off_to_main_div {
      margin-top: 20px;
  }

  .time_off_to_div {
      position: absolute;
      padding-left: 10px;
      margin-top: 10px;
  }

  .time_off_to_input {
      width: 100%;
      padding-left: 38px;
  }

  .time_off_subject_main_div {
      margin-top: 20px;
  }

  .time_off_subject_div {
      position: absolute;
      padding-left: 10px;
      margin-top: 10px;
  }

  .time_off_subject_input {
      width: 100%;
      padding-left: 73px;
  }

  .time_off_date_range_main_div {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
  }

  .time_off_date_range_input {
      max-width: 200px;
  }

  .time_off_text_area_main_div {
      margin-top: 20px;
  }

  .time_off_text_area_input {
      height: 300px;
  }