<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/invoice.css">
  <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>

  <!-- Toggle Button -->
  <div class="header">
    <button class="btn" id="sidebarToggle">
      <img class="menu" src="../static/img/menu1.png" alt="menu" height="10">
    </button>

    <img src="../static/img/logo_image-removebg-preview.png" alt="Logo" height="50">
    <button class="bell">
      <img src="../static/img/bell.png" alt="bell">
    </button>
  </div>


  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <button class="btn btn-close close-btn" id="closeSidebar" aria-label="Close sidebar"></button>
    <a href="{{ url_for('dashboard') }}" style="margin-top: 80px;">🧾<br>Invoice</a>
    <a href="#" style="margin-top: 10px;"><i class="fa-regular fa-clipboard"></i><br>Attendance</a>
  </div>

  <!-- Main Content -->
  <div class="main-content" id="mainContent">
    <div class="nav_background">
      <!-- Move Invoice to the left -->
      <div class="nav_text"><b id="dashboardName">{{ dashboard_name }}</b></div>
      <ul>
        <li><button class="button_profile"><img src="../static/img/Avatar_Small.png"></button></li>
        <li>
          <div><b>{{name}}</b></div>
          <div>{{ mail }}</div>
        </li>
      </ul>
    </div>

    <div class="table-container">

      <ul>
        <div class="nav">

          <ul id="navList">

            <li><a href="#" data-status="all" class="active">All Payments</a></li>
            {% if is_admin == 1 %}
            <li id="requestSection"><a href="#" data-status="request">All Request</a></li>
            {% endif %}
            <li><a href="#" data-status="pending">Pending for Payment</a></li>
            <li><a href="#" data-status="approved">Approved</a></li>
            <li><a href="#" data-status="payment-done">Payment Done</a></li>
            <li><a href="#" data-status="completed">Completed</a></li>
            <li><a href="#" data-status="rejected">Rejected</a></li>



          </ul>
        </div>
        <div class="nav-right">
          <li class="button">
            <button id="dateRange" type="button" style="background: none; border: none; cursor: pointer;">
              <img src="../static/img/calendar1.png" alt="Select Range">
            </button>
          </li>
          {% if is_admin == 1 %}
          <li class="button" style="position: absolute;z-index: 99999;margin-left: -180px;">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Employee <span
                class="caret"></span></a>
            <ul class="filter-list dropdown-menu">
              {% for item in emp %}
              <li><a href="#">{{ item[0] }}</a></li>
              {% endfor %}
              <!-- <li><a href="#">Sohan</a></li>
                    <li><a href="#">Employee 3</a></li> -->
            </ul>
          </li>
          {% endif %}
          <li>
            <a href="{{ url_for('add_payment') }}" class="button">
              <i class="fa fa-plus"></i>Add Payment
            </a>
          </li>


          <li class="filter-container" style="margin-left: -50px;">
            <button class="button" id="filterButton">
              <img src="../static/img/filter.png" alt="Filter">
            </button>
            <ul class="filter-list" id="filterList">
              <li><a href="#" data-status="all">All Payments</a></li>
              {% if is_admin == 1 %}
              <li id="requestSection"><a href="#" data-status="request">All Request</a></li>
              {% endif %}

              <li><a href="#" data-status="pending">Pending for Payment</a></li>
              <li><a href="#" data-status="approved">Approved</a></li>
              <li><a href="#" data-status="payment done">Payment Done</a></li>
              <li><a href="#" data-status="completed">Completed</a></li>
              <li><a href="#" data-status="rejected">Rejected</a></li>

            </ul>
          </li>
        </div>

      </ul>


      <div class="table-background">
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th class="table_data">Date</th>
              <th class="table_data">Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="invoiceTable">

            <tr data-status="approved">
              <td><img class="bill" src="../static/img/logo_1.png"></td>
              <td>Product 1</td>
              <td class="table_data">Oct 16, 2024</td>
              <td class="table_data">Rs. 5000/-</td>
              <td> <button class="table_button_approved"><b>Approved</b></button></td>
            </tr>


            <tr data-status="pending">
              <td><img class="bill" src="../static/img/logo_1.png" alt="Product Logo"></td>
              <td>Product 2</td>
              <td class="table_data">Oct 16, 2024</td>
              <td class="table_data">Rs. 5000/-</td>
              <td>
                <button class="table_button_pending"><b>Pending</b></button>


              </td>
            </tr>

            <tr data-status="request">
              <td><img class="bill" src="../static/img/logo_1.png" alt="Product Logo"></td>
              <td>Product 2</td>
              <td class="table_data">Oct 16, 2024</td>
              <td class="table_data">Rs. 5000/-</td>
              <td>
                <a href="view_product.html" class=" view-link">View</a>
              </td>
              <td>
                <button class="btn btn-success accept-button">Accept</button>
                <button class="btn btn-danger deny-button">Deny</button>
              </td>
            </tr>
            <tr data-status="payment-done">
              <td><img class="bill" src="../static/img/logo_1.png"></td>
              <td>Product 3</td>
              <td class="table_data">Oct 16, 2024</td>
              <td class="table_data">Rs. 5000/-</td>
              <td><button class="table_button_paid"><b>Payment done upload Invoice</b></button></td>
            </tr>
            <tr data-status="completed">
              <td><img class="bill" src="../static/img/logo_1.png"></td>
              <td>Product 4</td>
              <td class="table_data">Oct 16, 2024</td>
              <td class="table_data">Rs. 5000/-</td>
              <td><button class="table_button_completed"><b>Completed</b></button></td>
            </tr>
            <tr data-status="rejected">
              <td><img class="bill" src="../static/img/logo_1.png"></td>
              <td>Product 5</td>
              <td class="table_data">Oct 16, 2024</td>
              <td class="table_data">Rs. 5000/-</td>
              <td><button class="table_button_rejected"><b>Rejected</b></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div class="footer">
    Powered By EVOLUZN
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/dashboard.js"></script>
  <script src="../static/js/dateflicker.js"></script>

</body>

</html>