<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/holiday_list.css">
    <link rel="stylesheet" href="../static/css/header.css">


    <style>

    </style>
</head>

<body>



    <!-- Header -->
    <div class="header">
        <img src="../static/img/logo_image-removebg-preview.png" alt="Logo" height="50">
    </div>

    <!-- Toggle Button -->
    <div class="top_bar">
        <button class="btn" id="sidebarToggle">
            <img class="menu" src="../static/img/menu1.png" alt="menu" height="10">
        </button>
        <button class="bell">
            <img src="../static/img/bell.png" alt="bell">
        </button>
    </div>


    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <button class="btn btn-close close-btn" id="closeSidebar" aria-label="Close sidebar"></button>
        <a href="#" style="margin-top: 80px;">🧾<br>Invoice</a>
        <a href="#" style="margin-top: 10px;"><i class="fa-regular fa-clipboard"></i><br>Attendance</a>
    </div>

    <!-- Main Content -->
    <div class="main-content" id="mainContent">

        <div class="nav_background">
            <!-- Move Invoice to the left -->
            <div class="nav_text"><b>DASHBOARD </b></div>
            <ul>
                <!-- <li><button class="button"><img src="../Static/images/search.png"></button></li> -->
                <li><button class="button"><img src="../Static/img/bell.png"></button></li>
                <li><button class="button"><img src="../Static/img/Avatar_Small.png"></button></li>
                <li>
                    <div><b>Shilpa</b></div>
                    <div>shilpa@evoluzn.in</div>
                </li>
            </ul>
        </div>

        <div class=" mt-4 holidaylist_dateparent_div">
            <div class="attendance_table_div">

                <div class="table_container">
                    <table class="table_child">
                        <thead>
                            <tr>
                                <th class="table_head border_left">Date</th>
                                <th class="table_head border_right">Day</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Example rows -->
                            <tr>
                                <td class="table_data border_left">26th January, 2025</td>
                                <td class="table_data border_right ">Republic Day</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">14th March, 2025</td>
                                <td class="table_data border_right ">Holi</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">30th March, 2025</td>
                                <td class="table_data border_right ">Gudi Padwa</td>
                            </tr>

                            <tr>
                                <td class="table_data border_left">1st May, 2025</td>
                                <td class="table_data border_right ">Maharashtra Day</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">9th August, 2025</td>
                                <td class="table_data border_right ">Rakshabandhan (Opt)</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">15th August, 2025</td>
                                <td class="table_data border_right ">Independence Day</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">16th August, 2025</td>
                                <td class="table_data border_right ">Janmashtami Day (Opt)</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">27th August, 2025</td>
                                <td class="table_data border_right ">Ganesh Chaturthi</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">6th September, 2025</td>
                                <td class="table_data border_right ">Anant Chaturthi</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">2nd October, 2025</td>
                                <td class="table_data border_right ">Dusshera</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">17th October, 2025</td>
                                <td class="table_data border_right ">Diwali</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">18th October, 2025</td>
                                <td class="table_data border_right ">Diwali Padwa</td>
                            </tr>
                            <tr>
                                <td class="table_data border_left">26th January, 2026</td>
                                <td class="table_data border_right ">Republic Day</td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        Powered By EVOLUZN
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/sidebar_navbar.js"></script>
    <script src="../static/js/dateflicker.js"></script>

</body>

</html>